div {
	border-radius:1px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -10px;
	height: 60px;
	background-color: #50a5ba;
	margin-bottom: 10px;
	
}

#name {
	float: left;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    color: #ffffff ;
    margin-top: 30px;
    
}


#right {
	position: relative;
	float: right;
	margin-top: 40px;
	width: 88%;
	height: 600px;
	background-color: rgba(146,146,146,0.83);
	margin-bottom: 10px;
	
} 

#left {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 10%;
    height: 600px;
    background-color: #c68f29 ;
    margin-bottom: 10px;
}


#footer {
	position: relative;
	float: right;
	height: 50%;
	text-align: center;
	font-size: 13px;
	padding-top: 15px;
	background-color: #6cc895;
	clear: both;
	width: 100%;
	margin-left: 1px;
	
	
}
    
 div p {
	 font-family: sans-serif;
	 font-size: 16px;
	 
 }